.container {
    display: flex;
    justify-content: center;
  }
  
  .card {
    background: rgb(107, 152, 187);
    width: 600px;
    height: 600px;
    border-radius: 18px;
    margin-top: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;
  }
  
  .texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .select-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  
  .select-container select {
    width: 18%;
  }
  
  .text-main {
    text-align: center;
    color: white;
    font: Arial;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .desc {
    font: Arial;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    font-size: 20px;
  }